@model RoomReservationSystem.Shared.DTOs.Users.UpdateUserRequest
@{
    ViewBag["Title"] = "Editing profile";
}

<div class="row justify-content-center">
    <div class="col-md-4">
        <h2>Change password</h2>
        <form asp-action="ChangePassword" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            
            <div class="mb-3">
                <label asp-for="UserName" class="form-label"></label>
                <input asp-for="UserName" class="form-control" />
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="Email" class="form-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>

            <button type="submit" class="btn btn-primary w-100">Confirm changes</button>
        </form>
    </div>
</div>
